*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear:both; 
}
.header{
    background-color: darkblue;
}
i{
    color:rgb(241, 183, 74);
   
}
.header__top{
    color:white;
    margin: 0 10%;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top button{
    background-color: darkgoldenrod;
    color: black;
    padding: 10px;
}
.header__bottom{
    background-color: white;
    color: black;
}
.header__bottom .logo{
    
    width: 20px;
    height: 20px;
    background-color: rgb(3, 3, 102);
    font-size: 10px;
    border-radius: 50%;
    padding: 5px;
}
.header__bottom div{
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.header__bottom nav{
    margin: 0 10%;
}
.header ul{
    list-style: none;
    padding: 10px;
}
.header li{
    display: inline;
    margin-right:30px;
    font-size: 18px;
}
.header a{
    text-decoration: none;
}
.header__bottom .active a{
    color: rgb(240, 165, 95);
}
/* CAROUSEL  */
.carousel{
    background-image: url(./images/2.jpg);
    height: 700px;
    background-size: cover;
    background-position:top;
    padding: 20px;
    position: relative;
}
.carousel__content{
    position:absolute;
    bottom:-15% ;
    left: 0;
    display: flex;
    justify-content: center;

}
.carousel__item{
    width: 23.5%;
    margin: 10px;
    box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.2);
    border-radius: 10px;
}
.carousel__txt{
    background-color: white;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
}
.carousel__txt button, .about__text button, .services__bottom button{
    background-color: rgb(241, 183, 74);
    margin-top: 20px;
    color:black;
    border-radius: 6px;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
}
.carousel__txt h3, .carousel__txt p{
    margin-top: 10px;
}
/* About top  */
.about{
    margin-top: 15%;
    background-color: white;
    padding: 20px 12%;
    color:black;
}
.about__text , .about__img{
    float: left;
    width: 45%;
    margin-left:20px; 

}
.about__text p{
    margin-top: 15px;
}
.about__img img{
    height: 500px;
    width: 107%;
    margin-left: 55px;
}
.about h2{
    font-size: 45px;
}
/* About bottom  */
.about__item{
    float:left;
    width: 25%;
    padding: 20px ;
    padding-right: 0;
    padding-bottom: 0;
}
.about__contentText{
    background-color: darkblue;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    float: left;
    width: 100%;
}
.about__contentText i,.about__contentText p{
    color:white;
}
.about__contentText p{
    text-align: center;
    margin-top: 10px;
}
/* SERVICE */
.services{
    background-color: rgba(128, 128, 128, 0.1);
    color:black;
}
.services__rate{
    padding: 0px 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services__features{
    width: 25%;
    margin: 10px;
}
.services__top table{
    height: 50px;
    width: 200px;
    text-align: left;

}
td{
    padding-left:10px ;
    font-size: 15px;
    color: black;
}
.td1{
    font-size: 30px;
    font-weight: bolder;
    padding-left: 10px;
}
.services__reading{
    background-image: url(./images/3.jpg);
    height: 420px;
    width: 100%;
    background-size: cover;
    background-position:center;
}
.services__essay{
    background-color: rgba(3, 3, 168, 0.5);
    height: 100%;
    width: 100%;
}
.services__content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 130px 130px 0;
}
.services__readLeft , .services__readRight{
    width: 40%;
    height: 100%;
    color: white;
}
.services__readLeft h3{
    font-size: 30px;
}
.services__readRight img{
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 50%;
    border:2px solid white;
}
.services__readRight h4{
    color: rgb(172, 119, 7);
    font-size: 20px;
    text-align: center;
}
.services__readLeft p{
    margin-top: 10px;
}
.student {
    text-align: center;
}
.services__readRight img{
    position: relative;
    margin-left: 42%;
}
.services__bottom{
    height: 600px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.1);
}
.services__leftBT,.services__rightBT {
    float: left;
    width: 600px;

}
.services___list{
    background-color:rgba(255, 255, 255, 0.856);
    width:100%;
    height: 370px;
}
.list2{
    background-color:white;
    width:100%;
    height: 170px;
    margin-bottom: 20px;
}
.services__rightBT{
    margin-left: 10%;
}
.services__contentBT{
    margin-left: 15%;
}
.services__contentBT img{
    height: 100px;
    width: 100%;

}
.services__itemRight {
    float: left;
    width: 70%;
    height: 120px;
}
.services__itemLeft{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    
}
.services__bottom h2{
    margin: 20px;
}
.services__bottom h4{
    margin: 10px;
}
.services__bottom button{
    padding: 10px 20px;
    float: right;
}
.services__cadenlarTop{
    border-radius: 5px 5px 0 0;
    background-color:  rgb(241, 183, 74);
    width: 86px;
}
.services__cadenlarBottom{
    background-color: black;
    color: white;
    width: 86px;
    height: 30px;
    border-radius: 0 0 5px 5px;
    line-height: 30px;
}
.bt2{
    width: 20%;
}
.services__config p{
    float: left;
    margin-right: 10px;
}

.contact{
    background-color: darkblue;
    color: white;
    padding: 120px 40px;
    font-size: 18px;
}
.contact h4{
    font-size: 22px;
    margin-bottom: 21px;
}

.contact__list{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-left: 150px;
}
.contact__nav{
    float: left;
    width: 30%;
}
.contact__icon{
    color: white;
}
.contact__nav li{
    list-style: none;
    margin-bottom: 12px;
}
.contact__nav a{
    text-decoration: none;
}
.contact__copyright{
    border:1px solid grey;
}
.contact__copyright .ct1{
    padding-top: 50px;
    margin-left: 150px;
    float: left;
    justify-content: center;
    align-items: center;
}
.contact__copyright .ct2{
    padding-top: 50px;
    margin-right: 10px;
    float: right;
}