*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear:both; 
}
.header{
    background-color: darkblue;
}
i{
    color:rgb(241, 183, 74);
   
}
.header__top{
    color:white;
    margin: 0 10%;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top button{
    background-color: darkgoldenrod;
    color: black;
    padding: 10px;
}
.header__bottom{
    background-color: white;
    color: black;
}
.header__bottom .logo{
    
    width: 20px;
    height: 20px;
    background-color: rgb(3, 3, 102);
    font-size: 10px;
    border-radius: 50%;
    padding: 5px;
}
.header__bottom div{
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.header__bottom nav{
    margin: 0 10%;
}
.header ul{
    list-style: none;
    padding: 10px;
}
.header li{
    display: inline;
    margin-right:30px;
    font-size: 18px;
}
.header a{
    text-decoration: none;
}
.header__bottom .active a{
    color: rgb(240, 165, 95);
}
/* CAROUSEL  */
.carousel{
    background-image: url(./images/2.jpg);
    height: 700px;
    background-size: cover;
    background-position:top;
    padding: 20px;
    position: relative;
}
.carousel__content{
    position:absolute;
    bottom:-15% ;
    left: 0;
    display: flex;
    justify-content: center;

}
.carousel__item{
    width: 22%;
    margin: 10px;
    box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.2);
    border-radius: 10px;
}
.carousel__txt{
    background-color: white;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
}
.carousel__txt button, .about__text button{
    background-color: rgb(241, 183, 74);
    margin-top: 20px;
    color:black;
    border-radius: 6px;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
}
/* About top  */
.about{
    margin-top: 15%;
    background-color: white;
    padding: 20px 12%;
    color:black;
}
.about__text , .about__img{
    float: left;
    width: 45%;
    margin:20px;
}
.about__text p{
    margin-top: 15px;
}
.about__img img{
    height: 380px;
    width: 102%;
    margin-left: 20px;
}
/* About bottom  */
.about__item{
    float:left;
    width: 25%;
    padding: 20px ;
    padding-right: 0;
}
.about__contentText{
    background-color: darkblue;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    float: left;
    width: 100%;
}
.about__contentText i,.about__contentText p{
    color:white;
}
.about__contentText p{
    text-align: center;
    margin-top: 10px;
}